/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.main-body,
.core {
  fill: transparent;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation-name: scale;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: sparking;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
