/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 100px;
  padding-top: 100px;
  font-family: var(--main-font);
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-text-weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-family: var(--accent-font);
  inline-size: var(--inline-size-block);
  min-block-size: 327px;
}

.block-decor {
  border: var(--main-border-color);
  background-color: #ffffff;
}

.header__title {
  font-size: clamp(3.0625rem, 2.1083rem + 4.0712vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title-description {
  font-size: clamp(0.875rem, 0.3383rem + 2.2901vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  inline-size: var(--inline-size-block);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.card {
  font-size: 18px;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--main-title-weight);
}

.image-block {
  position: relative;
  z-index: 0;
  border-top: var(--main-border-color);
  border-bottom: var(--main-border-color);
}

.card-image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  /* block-size: 100%; */
  aspect-ratio: 1/1;
}

.card-image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  mix-blend-mode: hard-light;
}

.filter-brightness {
  filter: brightness(75%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-opacity {
  filter: opacity(30%);
}

.filter-grayscale {
  filter: grayscale(40%);
}

.filter-saturate {
  filter: saturate(140%);
}

.filter-sepia {
  filter: sepia(70%);
}

.filter-invert-blur {
  filter: invert(80%) blur(0.4rem);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  line-height: 21px;
}

.button {
  position: relative;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  background-color: var(--accent-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: left center;
  scale: 0 1;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  scale: 1 1;
}

.card__buttons {
  display: flex;
  justify-content: end;
  padding: 0 25px 25px 0;
  gap: 9px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
  inline-size: 38px;
  block-size: 38px;
  cursor: pointer;
}

.like-icon {
  flex-shrink: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  margin-bottom: 100px;
}

.button-ok {
  grid-column: span 2;
  grid-row: 2;
  block-size: 38px;
}

.icon-floppy {
  position: relative;
  z-index: 2;
  display: block;
  color: #fff;
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.dialog-continue {
  position: fixed;
  inset: 0;
  align-items: center;
  gap: 30px 20px;
  padding: 30px 40px;
  inline-size: 341px;
}

.dialog-continue[open] {
  display: grid;
}

.dialog-continue::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-floppy {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  block-size: 39px;
  inline-size: 39px;
}

.dialog-header {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
  }
}

@media (width > 375px) {
  .header {
    min-block-size: 368px;
  }
  
  .button-save {
    flex-direction: row;
  }

  .icon-floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog-continue {
    inline-size: 353px;
    padding: 30px;
    gap: 30px 20px;
    min-block-size: 191px;
    line-height: 130%;
  }

  .dialog-floppy {
    inline-size: 39px;
    block-size: 39px;
  }
}
